@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import "tailwindcss";

@theme {
    --color-primary: #0060B1;
    --color-secondary: #FF6500;
    --default-font-family: 'Ubuntu'
}